<a href="/">
    <h1>LOGO</h1>
</a>

<!-- Forms method are get by default, i intentionally added this to make it obvious for the next comments -->
<form method="GET" action="{% url 'home' %}">
    <!-- since the 'method' attribute is set to 'get', the form data will be appended to the URL as query parameters
    The input field doesn't have a 'submit' type specified. In this case, pressing the "Enter" key
    inside the input field will implicitly submit the form. -->
    <input type="text" name='q' placeholder="Search Rooms..." />
     
</form>
{% if request.user.is_authenticated %}
<!-- By default, the string representation of a user object in Django displays the username of the user. -->  
<p> Hello {{ request.user }} </p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<!-- if a user is authenticated, that means we have a session in the browser -->
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr> 